<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5FBDZ9C');</script>
    <!-- End Google Tag Manager -->
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9BVSS0QW8P"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9BVSS0QW8P');
    </script>

    <!-- bib.fun -->
    <script>
    function showBib(filename) {
      // 创建一个XMLHttpRequest对象
      var xhr = new XMLHttpRequest();
      // 设置请求的方法和URL
      xhr.open("GET", "/assets/" + filename);
      // 设置请求的响应类型为文本
      xhr.responseType = "text";
      // 设置请求完成后的回调函数
      xhr.onload = function() {
        // 如果请求成功
        if (xhr.status == 200) {
          // 获取响应的文本内容
          var bib = xhr.response;
          // 显示一个弹框，内容为bib文件的内容
          prompt(bib);
        }
      };
      // 发送请求
      xhr.send();
    }
    </script>
    
    {% if site.tags != "" %}
      {% include tags.html %}
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
        <meta content="{{ page.title }}" property="og:title">
    {% else %}
        <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
        <meta content="article" property="og:type">
    {% else %}
        <meta content="website" property="og:type">
    {% endif %}
    {% if page.excerpt %}
        <meta content="{{ page.excerpt | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip |  truncatewords: 50 }}" property="og:description">
    {% else %}
        <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
        <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
        <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
        <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}
    {% if page.image %}
        <meta content="/img/srcset/{{ page.image }}" property="og:image">
    {% endif %}
    {% if page.tags %}
        {% for tag in page.tags %}
        <meta content="{{ tag }}" property="article:tag">
        {% endfor %}
    {% endif %}

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

    <!-- For Latex -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

</head>
